<div class="formBox p-5 mt-5 m-auto">

    <form id="form" action="/contacto" method="POST" >
      <h1 class="mb-5">Contáctanos</h1>
      <label for="nombre" class="form-label">Nombre </label>
      <input class="form-control mb-3" type="text" name="nombre" value="<%=usuario.nombre %>">
      <label for="email" class="form-label">Email</label>
      <input class="form-control  mb-3 " type="text" name="email" value="<%=usuario.email %>">
      <label for="textarea" class="form-label">Contenido</label>
      <textarea name="textarea" class="form-control" id="validationTextarea" placeholder="" required></textarea> <br>
       <a href="/"><button class="btn btn-primary mb-3" type="submit">Enviar</button></a>
    </form>                                                   
  </div>  