<li class="nav-item">
    <a class="nav-link active " style="color: #e3f2fd;" aria-current="page" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color: #e3f2fd;" href="/calificaciones">Calificaciones</a>
  </li>
 <li class="nav-item">
    <a class="nav-link " style="color: #e3f2fd;" href="/usuarios">Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color: #e3f2fd;" href="/agregarPelicula">Agregar nueva pelicula</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color: #e3f2fd;" href="/contacto">Contacto</a>
  <li class="nav-item">