<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #e3f2fd;" href="/"> MyMovie</a>
      <button class="navbar-toggler btn-lg" style="color: #e3f2fd;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #e3f2fd;"></span>
      </button>
      <div class="collapse navbar-collapse" style="color: #e3f2fd;" id="navbarSupportedContent">
        <ul style="color: #e3f2fd;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " style="color: #e3f2fd;" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color: #e3f2fd;" href="/calificaciones">Favoritos</a>
          </li>
         <li class="nav-item">
            <a class="nav-link " style="color: #e3f2fd;" href="/usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color: #e3f2fd;" href="/agregarPelicula">Agregar nueva pelicula</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color: #e3f2fd;" href="/contacto">Contacto</a>
          <li class="nav-item">
            <a class="nav-link " style="color: #e3f2fd;" href="/logout">Salir</a>
          </li>
         
        </ul>
        <form action="buscar" method="GET" class="d-flex" role="search">
          <input name="busqueda" class="form-control me-2 inputBuscar" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-white buscar" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>