<ul style="color: #e3f2fd;" class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active " style="color: #e3f2fd;" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: #e3f2fd;" href="/calificaciones">Calificaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: #e3f2fd;" href="/contacto">Contacto</a>
    </li>