<link rel="stylesheet" href="css/autenticacion.css">
<%-include("./partials/head")%>
<%-include("./partials/navbarAdmin")%>

<!-- carga de css -->
<%-include("./partials/closeHead")%> <br><br>
<div class="alert alert-danger esconderError w-75 m-auto mt-3 mb-5" role="alert" id="alert"></div>
<div class="formBox p-5 mt-5 m-auto">

  <form id="form" action="/agregarPelicula" method="post" enctype="multipart/form-data">
    <h1 class="mb-5">Nueva pelicula</h1>
    <input class="form-control mb-3" type="text" name="name" id="name" placeholder="Nombre pelicula">
    <input class="form-control  mb-3 " type="text" name="year" id="anio" placeholder="Año de estreno">
    <input class="form-control  mb-3" type="text" name="director" id="director" placeholder="Director">
    <input class="form-control  mb-3" type="text" name="casting" id="actores" placeholder="Reparto">
    <input class="form-control  mb-3" type="text" name="sinopsis" id="sinopsis" placeholder="Sinopsis">
    <input class="form-control  mb-3" type="text" name="genero" id="genero" placeholder="Genero">
    <input class="form-control  mb-3" type="text" name="vigente" id="vigente" style="display: none;" value="1">
    <input class="form-control  mb-3" type="text" name="trailer" id="trailer" placeholder="Trailer">
    <input  type="file" name="portada" id="portada">
  <input type="submit" name="enviar" id="enviar" value="Enviar" class="btn btn-primary">
  </form>                                                   
</div>
<%-include("./partials/foot")%>